body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f7ff;
}

#info {
  margin: 10px;
  font-weight: bold;
}

#controls button {
  margin: 4px;
  padding: 6px 10px;
}

canvas {
  background: white;
  border: 1px solid #333;
  margin-top: 10px;
}
